apiVersion: v1
kind: Secret
metadata:
  name: django-secrets
type: Opaque
stringData:
  SECRET_KEY: "your-secret-key"
  DATABASE_URL: "postgres://user:password@host:port/dbname"
  ALLOWED_HOSTS: "localhost,127.0.0.1,<minikube-ip>"